<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>OmniView</name>
        <version>0.0.7</version>
        <author>Owen</author>
        <id>omni-view-client</id>
    </information>
    <menus>
        <menu type="json" dynamic="false">menu.json</menu>
    </menus>
</extension>
